*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.content{
    width: 100%;
}

.nav-first ,.nav-second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 17%;
}

.nav-first{
    font-size: 12px;
}

.nav-left-l, .nav-right-r{
    cursor: pointer;
}

.money-select , .language-select{
    border: none;
}

.df{
    display: flex;
    gap: 25px;
}

.nav-second{
    font-size: 15px;
}

.nav-second-img{
    width: 75px;
    object-fit: contain;
    position: relative;
    bottom: 13px;
    left: 16px;
}

.circle{
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    
    left: 5px;
}

.dfsn{
    display: flex;
    gap: 45px;
    align-items: center;
}

.new{
    text-align: center;
    background-color: red;
    font: 10px;
    color: white;
    position: relative;
    bottom:25px;
    left: 40px;
}

.sports{
    position: relative;
    top: 8px;
}

.nav-third{
    margin-top: 10px;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    padding: 0 17%;
    height: 90px;
}

.nav-third-left{
    position: relative;
    top: 26px;
    background-color: red;
    color: white;
    width: 300px;
    height: 70%;
    padding-left: 25px;
    padding-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#nav-third-left-pdep{
    font-size: 15px;
}

#nav-third-left-ptot{
    margin-top: 5px;
    font-size: 12px;
}

.nav-second-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.countshop , .countheart{
    position: relative;
    bottom: 30px;
    left: 15px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    padding-top: 2px;
}

.heart , .shopcart{
    font-size: 20px;
}

.he,.sh{
    position: relative;
    top: 5px;
}

.tota{
    font-size: 12px;
    color: grey;
}

.totaprice{
    font-size: 14px;
}

.nav-third-right{
    width: 50%;
    background-color: white;
    height: 50%;
    position: relative;
    top: 25%;
    border-radius: 5px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-third-right-searchbut{
    border: none;
    background-color: red;
    width: 15%;
    height: 100%;
    color: white;
}

#nav-third-right-inp{
    width: 100%;
    padding-left: 20px;
    border: none;
}

.leftlistandslider{
    padding: 0 17%;
    display: flex;
}

.leftlistandslider-ul{
    font-size: 14px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.leftlistandslider-li{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px grey;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
}

.leftlistandslider-li-div{
    display: flex;
    gap: 15px;
    align-items: center;
}

.slider{
        width: calc(100% - 300px);
        padding-left: 35px;
        
        
}

.slidercontent{

    
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    
    
    
}

.slidercontent-p-overh1{
    margin-top: 150px;
    background-color: black;
    color: white;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    margin-left: 70px;
}

h1{
    margin-top: 10px;
    letter-spacing: 0.1ch;
    color: grey;
    margin-left: 70px;
}

.slidercontent-p-underh1{
    margin-top: 10px;
    color: purple;
    font-weight: bold;
    font-size: 30px;
    margin-left: 70px;
}

.slidercontent-button{
    margin-top: 10px;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    background-color: red;
    color: white;
    border: none;
    margin-left: 70px;
background-repeat: n;
}

.brands{
    margin-top: 20px;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
}

.brands-img{
    opacity: 0.5;
}

.slidercontent-checkbuttons{
    position: relative;
    left: 45%;
    top: 90%;
}

.trendingproducts ,.featuredproducts{
    padding: 0 17%;
    margin-bottom: 40px;
}

.trendingproducts-circle ,.featuredproducts-circle {
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 25px;
    border: 1px solid black;
}



.trendingproducts-title-p ,.featuredproducts-title-p{
    font-weight: bold;
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.trendingproducts-products{
    display: flex;  
    padding-top: 30px;
    gap:20px;
}

.trendingproducts-products-specoffer{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    height: 600px;
    
    padding-top: 20px;
    
}

trendingproducts-products-specoffer-off{
    font-size: 17px;
    margin-top: 10px;
}

.trendingproducts-products-specoffer-time{
    gap: 10px;
    display: flex;
}

.time-div{
    background-color: grey;
    width: 25px;
    height: 25px;
    color: black;
    text-align: center;
    padding-top: 5px;
}

.trendingproducts-products-specoffer-img{
    width: 300px;
    height: 330px;
    object-fit: cover;
    margin-top: 35px;
}

.trendingproducts-products-specoffer-heart{
    position: relative;
    bottom: 330px;
    left: 278px;
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
}

.trendingproducts-products-specoffer-proc{
    position: relative;
    left: 272px;
    bottom:55px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
}



.trendingproducts-products-specoffer-desc{
    font-size: 16px;
    font-weight: bold;
    padding: 0px 15px;
}


.trendingproducts-products-specoffer-price{
    
    color: red;
    margin-bottom: 10px;
}

.trendingproducts-products-all{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    height: 350px;
}

.trendingproducts-products-all-product{
    display: flex;
    width: 48%;
}

trendingproducts-products-all-product-desc{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.trendingproducts-products-all-product-img{
    width: 120px;
    height: 135px;
    object-fit: cover;
}

.trendingproducts-products-all-product-heart{
    width: 25px;
    height: 20px;
    background-color: white;
    position: relative;
    right: 18px;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    font-size: 12px;
}

.trendingproducts-products-all-product-proc{
    width: 20px;
    height: 20px;
    background-color: grey;
    position: relative;
    right: 38px;
    top: 114px;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
    font-size: 10px;
}

.trendingproducts-products-specoffer-time-stars{
    margin-bottom: 10px;
}

.trendingproducts-products-all-product-desc-firstp{
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    
}

.trendingproducts-products-specoffer-price{
    color:red;
    font-size: 20px;
    margin-top: 16px;
}
.trendingproducts-products-all-product-desc-sold {
    color: grey;
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 5px;
}

.featuredproducts-products-product{
    height: 550px;
    width: 287.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.featuredproducts-products-product-desc{
    font-size: 18px;
    font-weight:600;
    margin-bottom: 3px;
}

.featuredproducts-products-product-img{
    width: 300px;
    height: 390px;
    object-fit: cover;
}

.featuredproducts-products{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.featuredproducts-products-product-stars{
    margin-bottom: 15px;
    margin-top: 20px;
}

.featuredproducts-products-product-price{
    
    color: red;
}

.featuredproducts-products-product-heart{
    width: 20px;
    height: 20px;
    background-color: white;
    position: relative;
    bottom: 395px;
    border-radius: 50%;
    left: 280px;
    text-align: center;
}

.featuredproducts-products-product-proc{
    width: 20px;
    height: 20px;
    background-color: white;
    position: relative;
    bottom: 52px;
    border-radius: 50%;
    left: 280px;
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
    background-color: grey;
    color: white;
}

.afterfeaturedproductsbanners{
    
    height: 400px;
    padding: 0 17%;
    display: flex;

}

.afterfeaturedproductsbanners-banner1,
.afterfeaturedproductsbanners-banner2{
    width: 45%;
}


.afterfeaturedproductsbanners-banner1 {
    background-image: url("assets/banner/banner1.jpg");
}