*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.nav-first ,.nav-second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 17%;
}

.nav-first{
    font-size: 12px;
}

.nav-left-l, .nav-right-r{
    cursor: pointer;
}

.money-select , .language-select{
    border: none;
}

.df{
    display: flex;
    gap: 25px;
}

.nav-second{
    font-size: 15px;
}

.nav-second-img{
    width: 75px;
    object-fit: contain;
    position: relative;
    bottom: 13px;
    left: 16px;
}

.circle{
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    
    left: 5px;
}

.dfsn{
    display: flex;
    gap: 45px;
    align-items: center;
}

.new{
    text-align: center;
    background-color: red;
    font: 10px;
    color: white;
    position: relative;
    bottom:25px;
    left: 40px;
}

.sports{
    position: relative;
    top: 8px;
}

.nav-third{
    margin-top: 10px;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    padding: 0 17%;
    height: 90px;
}

.nav-third-left{
    position: relative;
    top: 26px;
    background-color: red;
    color: white;
    width: 300px;
    height: 70%;
    padding-left: 25px;
    padding-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#nav-third-left-pdep{
    font-size: 15px;
}

#nav-third-left-ptot{
    margin-top: 5px;
    font-size: 12px;
}

.nav-second-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.countshop , .countheart{
    position: relative;
    bottom: 30px;
    left: 15px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    padding-top: 2px;
}

.heart , .shopcart{
    font-size: 20px;
}

.he,.sh{
    position: relative;
    top: 5px;
}

.tota{
    font-size: 12px;
    color: grey;
}

.totaprice{
    font-size: 14px;
}

.nav-third-right{
    width: 50%;
    background-color: white;
    height: 50%;
    position: relative;
    top: 25%;
    border-radius: 5px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-third-right-searchbut{
    border: none;
    background-color: red;
    width: 15%;
    height: 100%;
    color: white;
}

#nav-third-right-inp{
    width: 100%;
    padding-left: 20px;
    border: none;
}

.leftlistandslider{
    padding: 0 17%;
    display: flex;
}

.leftlistandslider-ul{
    font-size: 14px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.leftlistandslider-li{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px grey;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
}

.leftlistandslider-li-div{
    display: flex;
    gap: 15px;
    align-items: center;
}

.slider{
        width: calc(100% - 300px);
        padding-left: 35px;
        
        
}

.slidercontent{

    
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    
    
    
}

.slidercontent-p-overh1{
    margin-top: 150px;
    background-color: black;
    color: white;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    margin-left: 70px;
}

h1{
    margin-top: 10px;
    letter-spacing: 0.1ch;
    color: grey;
    margin-left: 70px;
}

.slidercontent-p-underh1{
    margin-top: 10px;
    color: purple;
    font-weight: bold;
    font-size: 30px;
    margin-left: 70px;
}

.slidercontent-button{
    margin-top: 10px;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    background-color: red;
    color: white;
    border: none;
    margin-left: 70px;
background-repeat: n;
}

.brands{
    margin-top: 20px;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
}

.brands-img{
    opacity: 0.5;
}

.slidercontent-checkbuttons{
    position: relative;
    left: 45%;
    top: 90%;
}

.trendingproducts{
    padding: 0 17%;
}

.trendingproducts-circle{
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 25px;
    border: 1px solid black;
}

.trendingproducts-title-p{
    font-weight: bold;
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.trendingproducts-products{
    display: flex;  
    padding-top: 30px;
}

.trendingproducts-products-specoffer{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    height: 600px;
    gap:10px;
    padding-top: 20px;
    
}

trendingproducts-products-specoffer-off{
    font-size: 17px;
    margin-top: 10px;
}

.trendingproducts-products-specoffer-time{
    gap: 10px;
    display: flex;
}

.time-div{
    background-color: grey;
    width: 25px;
    height: 25px;
    color: black;
    text-align: center;
    padding-top: 5px;
}

.trendingproducts-products-specoffer-img{
    width: 300px;
    height: 350px;
    object-fit: cover;
    margin-top: 5px;
}

.trendingproducts-products-specoffer-heart{
    position: relative;
    bottom: 350px;
    left: 276px;
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
}

.trendingproducts-products-specoffer-proc{
    position: relative;
    left: 272px;
    bottom:55px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
}